body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  margin-top: 12%;
}

#card {
  background-color: hsl(213, 19%, 18%);
  width: 430px;
  height: 420px;
  border-radius: 20px;
}

#details {
  margin: 30px;
  width: 380px;
  height: 360px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsl(213, 18%, 22%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#subheading {
  color: white;
  font-family: Overpass;
}

#main-text p {
  color: hsl(217, 12%, 63%);
  margin-top: -20px;
  font-family: Overpass;
  line-height: 25px;
}

#ratings {
  display: flex;
  gap: 30px;
}

#ratings div {
  width: 50px;
  height: 50px;
  background-color: hsl(213, 18%, 22%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(217, 12%, 63%);
  font-family: Overpass;
}

#ratings div:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
  cursor: pointer;
}

#submit {
  margin-top: 10px;
  width: 370px;
  height: 40px;
  border-radius: 20px;
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-family: Overpass;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

#submit p {
  padding: 0px;
}

#submit:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}
